[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = LPC1768 Header board project
[access "refs/*"]
	owner = group user/msraman
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/msraman
	label-Verified = -1..+1 group user/msraman
	push = group user/msraman
	read = group user/msraman
	rebase = group user/msraman
	removeReviewer = group user/msraman
	submit = group user/msraman
[access "refs/heads/*"]
	create = group user/msraman
	push = +force group user/msraman
	pushMerge = group user/msraman
	read = group user/msraman
[access "refs/tags/*"]
	push = group user/msraman
	push = +force group user/msraman
